@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.chat{
    overflow: hidden;
    max-width: 430px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 40px -2px black;
}
.chat_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px ;
    background-color: skyblue;
    font-size: 20px;
}
.chat_body{
    padding: 15px 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: white;
    gap: 2rem;
    flex: 1;
}
.chat_message_item{
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #eee;
    max-width: 85%;
    align-self: flex-end;

}
.chat_message_item2{
    border-radius: 10px;
    padding: 10px 15px;
    background-color: skyblue;
    align-self: flex-start;
    max-width: 85%;
    
}
.chat_footer{
    background-color: skyblue;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
input{
    padding: 20px 15px;
    border: none;
    width: 100%;
    background: none;
    font-size: 16px;
}